@charset "utf-8";

img {
  margin-bottom: 0;
}

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: white;
}

a {
  text-decoration-line: none;
}

ul {
  margin-left: 0;
}

li {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: inherit;
}

a:visited {
  color: inherit;
}

/* typography default overwrite */
table {
  margin-bottom: 0;
}

body {
  --line: rgba(146, 150, 154, 0.1);

  background-image: linear-gradient(
      135deg,
      transparent 22px,
      var(--line) 22px,
      var(--line) 24px,
      transparent 24px,
      transparent 67px,
      var(--line) 67px,
      var(--line) 69px,
      transparent 69px
    ),
    linear-gradient(
      225deg,
      transparent 22px,
      var(--line) 22px,
      var(--line) 24px,
      transparent 24px,
      transparent 67px,
      var(--line) 67px,
      var(--line) 69px,
      transparent 69px
    );
  background-color: rgba(120, 130, 141, 0.2);
  background-position:
    0 0,
    0 64px;
  background-size: 64px 128px;
}
