
// todo: import from stylezz
@import url('https://fonts.googleapis.com/css?family=Francois+One');

$neurse-groen: #008000;
$neurse-geel: #ffcc00;
$header-font: 'Francois One', arial, serif;


$primary: #007800;
$navbar-breakpoint: 200px;
//$footer-padding: 0;

@import '../../node_modules/bulma/bulma';



html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


@mixin white-text() {
  color: #ffffff;
  text-transform: uppercase;
}
