---
import { getPage } from '../../data/contentful/get-entries'
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'

const page = await getPage('Aanspreekpunt Integriteit')
---

<Layout title="Info - Aanspreekpunt Integriteit" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage title={page.title} content={page.body} />
    ) : (
      <h1>No Aanspreekpunt Integriteit</h1>
    )
  }
</Layout>
