---
import { getPage } from '../../data/contentful/get-entries'
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'

const page = await getPage('Beleidsplan')
---

<Layout title="Info - Beleidsplan" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage
        title={page.title}
        markdownClassNames="collapsible-ul-sections"
        content={page.body}
      />
    ) : (
      <h1>No Beleidsplan</h1>
    )
  }
</Layout>
