---
import { getPage } from '../../data/contentful/get-entries'
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'

const page = await getPage('Fairplay')
---

<Layout title="Info - Fairplay" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage title={page.title} content={page.body}>
        <ul class="mb-4 list-inside list-disc">
          <li>
            <a href="#ouders" class="hover:text-gray-dark underline">
              Ouders
            </a>
          </li>
          <li>
            <a
              href="#spelers-speelsters"
              class="hover:text-gray-dark underline"
            >
              Spelers/Speelsters
            </a>
          </li>
          <li>
            <a href="#trainers" class="hover:text-gray-dark underline">
              Trainers
            </a>
          </li>
          <li>
            <a href="#afgevaardigden" class="hover:text-gray-dark underline">
              Afgevaardigden
            </a>
          </li>
        </ul>
      </MarkDownPage>
    ) : (
      <h1>No Fairplay</h1>
    )
  }
</Layout>
