---
import Layout from '../../layouts/Layout.astro'
import type { EntryFieldTypes } from 'contentful'
import { MarkDownPage } from '../../react/layout'
import { contentfulClient } from '../../lib/contentful'

interface Page {
  contentTypeId: 'page'
  fields: {
    title: EntryFieldTypes.Text
    body: EntryFieldTypes.Text
  }
}

const page = (
  await contentfulClient.getEntries<Page>({
    'fields.title': 'Fairplay',
    content_type: 'page',
  })
).items[0]?.fields
---

<Layout title="Fairplay">
  {
    page ? (
      <MarkDownPage title={page.title} content={page.body} />
    ) : (
      <h1>No Fairplay</h1>
    )
  }
</Layout>
