---
import { getPage } from '../../data/contentful/get-entries'
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'

const page = await getPage('Fairplay')
---

<Layout title="Info - Fairplay" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage title={page.title} content={page.body} />
    ) : (
      <h1>No Fairplay</h1>
    )
  }
</Layout>
