---
import type { ContentfulPage } from '../../data/contentful/types'
import Layout from '../../layouts/Layout.astro'
import { contentfulClient } from '../../lib/contentful'
import { MarkDownPage } from '../../react/layout'

const page = (
  await contentfulClient.withoutUnresolvableLinks.getEntries<ContentfulPage>({
    'fields.title': 'Lidmaatschap',
    content_type: 'page',
  })
).items[0]?.fields
---

<Layout title="Info - Lidmaatschap" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage
        title={'Lid Worden'}
        description={`Wil je lid worden van één van onze jeugd- of meisjesploegen? Hier vindt je alle info.`}
        attachment={page.attachment
          ?.filter((asset) => !!asset)
          .map((asset) => asset?.fields)}
        content={page.body}
      />
    ) : (
      <h1>No Lidmaatschap</h1>
    )
  }
</Layout>
