---
import { getPage } from '../../data/contentful/get-entries'
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'

const page = await getPage('Lidmaatschap')
---

<Layout title="Info - Lidmaatschap" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage
        title={'Lid Worden'}
        description={`Wil je lid worden van één van onze jeugd- of meisjesploegen? Hier vindt je alle info.`}
        attachment={page.attachment}
        content={page.body}
      />
    ) : (
      <h1>No Lidmaatschap</h1>
    )
  }
</Layout>
