---
import type { EntryFieldTypes } from 'contentful'
import Layout from '../../layouts/Layout.astro'
import { contentfulClient } from '../../lib/contentful'
import { MarkDownPage } from '../../react/layout'

interface Page {
  contentTypeId: 'page'
  fields: {
    title: EntryFieldTypes.Text
    body: EntryFieldTypes.Text
    // todo: this should be plural since its an array
    attachment: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>
  }
}

const page = (
  await contentfulClient.withoutUnresolvableLinks.getEntries<Page>({
    'fields.title': 'Lidmaatschap',
    content_type: 'page',
  })
).items[0]?.fields
---

<Layout title="Info - Lidmaatschap">
  {
    page ? (
      <MarkDownPage
        title={page.title}
        content={page.body}
        attachment={page.attachment.map((asset) => asset?.fields)}
      />
    ) : (
      <h1>No Lidmaatschap</h1>
    )
  }
</Layout>
