---
import Layout from '../../layouts/Layout.astro'
import type { EntryFieldTypes } from 'contentful'
import { MarkDownPage } from '../../react/layout'
import { contentfulClient } from '../../lib/contentful'

interface Page {
  contentTypeId: 'page'
  fields: {
    title: EntryFieldTypes.Text
    body: EntryFieldTypes.Text
  }
}

const page = (
  await contentfulClient.getEntries<Page>({
    'fields.title': 'Sportieve werking',
    content_type: 'page',
  })
).items[0]?.fields
---

<Layout title="Info - Sportieve werking" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage title={page.title}>{page.body}</MarkDownPage>
    ) : (
      <h1>No Sportieve werking</h1>
    )
  }
</Layout>
