---
import { getPage } from '../../data/contentful/get-entries'
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'

const page = await getPage('Structuur')
---

<Layout title="Info - Structuur" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage title={page.title} content={page.body} />
    ) : (
      <h1>No Structuur</h1>
    )
  }
</Layout>
