---
import Layout from '../../layouts/Layout.astro'
import { MarkDownPage } from '../../react/layout'
import { contentfulClient } from '../../lib/contentful'
import type { ContentfulPage } from '../../data/contentful/types'

const page = (
  await contentfulClient.getEntries<ContentfulPage>({
    'fields.title': 'Verzekering',
    content_type: 'page',
  })
).items[0]?.fields
---

<Layout title="Info - Verzekering" currentURL={Astro.url}>
  {
    page ? (
      <MarkDownPage title={page.title} content={page.body} />
    ) : (
      <h1>No Verzekering</h1>
    )
  }
</Layout>
