---
interface Props {
  title: string
}
import '../styles/typography.css'
import '../styles/global.css'
import '../styles/tailwind.css'
import '@fontsource/lato/700.css'
import '@fontsource/mulish'
import '@fontsource/mulish/700.css'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Website voor Koninlijke Noorse SportVereniging uit Kapellen"
    />
    <meta name="viewport" content="width=device-width" />
    <!-- todo: make a real favicon instead of this huge png -->
    <link rel="icon" type="image/png" href="/images/Logo_highres.png" />
    <meta name="generator" content={Astro.generator} />
    <script
      defer
      data-domain="noorse.be"
      src="https://plausible.io/js/script.js"></script>
    <title>K. Noorse S.V. - {title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
